*{
    padding: 0;
    margin: 0;
}
.clr{
    clear: both;
}

html {
  scroll-behavior: smooth;
}
a{
    text-decoration: none !important;
}


h2{
    font-family: 'Rubik', sans-serif;
    font-weight: 700;

}
p{
    font-family: 'Karla', sans-serif;
    font-weight: 400;
}

#nave_part{
    z-index: 999;
}
#nave_part .fixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #333366;
    transition: all linear 0.4s;
    z-index: 9999;
}


/*
#nave_part .fixed ul li a.active{
    background: red;
}
*/
#nave_part .fixed .navbar .navbar-brand img{
    width: 190px;
    height: auto;
}
#nave_part .fixed .navbar-nav .nav-item{
    display: inline-block;
    float: right;
}
#nave_part .fixed .navbar-nav{
    line-height: 40px;
}
#nave_part .fixed .navbar-nav .nav-item .nav-link{
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    padding-left: 20px;
    padding-right: 20px;
    transition: all linear 0.4s;
    font-family: 'Rubik', sans-serif !important;

}
#nave_part .fixed .navbar-nav .nav-item .nav-link{
    border-top: 2px solid rgba(235, 77, 85, 0);
    border-left: 2px solid rgba(51, 51, 102, 0);
    border-bottom: 2px solid rgba(235, 77, 85, 0);
    border-right: 2px solid rgba(51, 51, 102, 0);
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    transition: all linear 0.4s;
}
#nave_part .fixed .navbar-nav .nav-item .nav-link:hover{
    border-top: 2px solid #eb4d55;
    border-left: 2px solid #333366;
    border-bottom: 2px solid #eb4d55;
    border-right: 2px solid #333366;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    color: #eb4d55;
    transition: all linear 0.4s;
}
/*
#nave_part .fixed .navbar-nav .nav-item .ac{
    border-top: 2px solid #eb4d55;
    border-left: 2px solid #333366;
    border-bottom: 2px solid #eb4d55;
    border-right: 2px solid #333366;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    color: #eb4d55;
    transition: all linear 0.4s;
}
*/

/*service_nav*/


#service_nave_part{
    background: #333366;
}
#service_nave_part .fixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #333366;
    transition: all linear 0.4s;
    z-index: 9999;
}
#service_nave_part .fixed ul li a.active{
    border-top: 2px solid #eb4d55 !important;
    border-left: 2px solid #fff !important;
    border-bottom: 2px solid #eb4d55 !important;
    border-right: 2px solid #fff !important;
    border-bottom-right-radius: 20px !important;
    border-top-left-radius: 20px !important;
    color: #eb4d55;
    transition: all linear 0.4s;
/*    background: red;*/
/*    border: 2px solid red !important;*/
    color: #eb4d55 !important;
}
#service_nave_part .fixed .navbar .navbar-brand img{
    width: 190px;
    height: auto;
}
#service_nave_part .fixed .navbar-nav .nav-item{
    display: inline-block;
    float: right;
}
#service_nave_part .fixed .navbar-nav{
    line-height: 40px;
}
#service_nave_part .fixed .navbar-nav .nav-item .nav-link{
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    padding-left: 20px;
    padding-right: 20px;
    transition: all linear 0.4s;

}
#service_nave_part .fixed .navbar-nav .nav-item .nav-link{
    border-top: 2px solid rgba(235, 77, 85, 0);
    border-left: 2px solid rgba(51, 51, 102, 0);
    border-bottom: 2px solid rgba(235, 77, 85, 0);
    border-right: 2px solid rgba(51, 51, 102, 0);
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    transition: all linear 0.4s;
}
#service_nave_part .fixed .navbar-nav .nav-item .nav-link:hover{
    border-top: 2px solid #eb4d55;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #eb4d55;
    border-right: 2px solid #fff;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    color: #eb4d55;
    transition: all linear 0.4s;
}
#service_nave_part .fixed .navbar-nav .nav-item .ac{
    border-top: 2px solid #eb4d55;
    border-left: 2px solid #333366;
    border-bottom: 2px solid #eb4d55;
    border-right: 2px solid #333366;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    color: #eb4d55;
    transition: all linear 0.4s;
}
/*service_nab_fixed*/

#service_nave_part{
    background: #333366;
}
#service_nave_part .nave_bar ul li a.active{
    border-top: 2px solid #eb4d55 !important;
    border-left: 2px solid #fff !important;
    border-bottom: 2px solid #eb4d55 !important;
    border-right: 2px solid #fff !important;
    border-bottom-right-radius: 20px !important;
    border-top-left-radius: 20px !important;
    color: #eb4d55;
    transition: all linear 0.4s;
/*    background: red;*/
/*    border: 2px solid red !important;*/
    color: #eb4d55 !important;
}
#service_nave_part .nave_bar .navbar .navbar-brand img{
    width: 190px;
    height: auto;
}
#service_nave_part .nave_bar .navbar-nav .nav-item{
    display: inline-block;
    float: right;
}
#service_nave_part .nave_bar .navbar-nav{
    line-height: 40px;
}
#service_nave_part .nave_bar .navbar-nav .nav-item .nav-link{
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    padding-left: 20px;
    padding-right: 20px;
    transition: all linear 0.4s;

}
#service_nave_part .nave_bar .navbar-nav .nav-item .nav-link{
    border-top: 2px solid rgba(235, 77, 85, 0);
    border-left: 2px solid rgba(51, 51, 102, 0);
    border-bottom: 2px solid rgba(235, 77, 85, 0);
    border-right: 2px solid rgba(51, 51, 102, 0);
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    transition: all linear 0.4s;
}
#service_nave_part .nave_bar .navbar-nav .nav-item .nav-link:hover{
    border-top: 2px solid #eb4d55;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #eb4d55;
    border-right: 2px solid #fff;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    color: #eb4d55;
    transition: all linear 0.4s;
}
#service_nave_part .nave_bar .navbar-nav .nav-item .ac{
    border-top: 2px solid #eb4d55;
    border-left: 2px solid #333366;
    border-bottom: 2px solid #eb4d55;
    border-right: 2px solid #333366;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    color: #eb4d55;
    transition: all linear 0.4s;
}
/*service_nav_ends*/







#nave_part .nave_bar ul li a.active{
    border-top: 2px solid #eb4d55 !important;
    border-left: 2px solid #fff !important;
    border-bottom: 2px solid #eb4d55 !important;
    border-right: 2px solid #fff !important;
    border-bottom-right-radius: 20px !important;
    border-top-left-radius: 20px !important;
    color: #eb4d55;
    transition: all linear 0.4s;
/*    background: red;*/
/*    border: 2px solid red !important;*/
    color: #eb4d55 !important;
}
#nave_part .nave_bar .navbar .navbar-brand img{
    width: 190px;
    height: auto;
}
#nave_part .nave_bar .navbar-nav .nav-item{
    display: inline-block;
    float: right;
}
#nave_part .nave_bar .navbar-nav{
    line-height: 40px;
}
#nave_part .nave_bar .navbar-nav .nav-item .nav-link{
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    padding-left: 20px;
    padding-right: 20px;
    transition: all linear 0.4s;

}
#nave_part .nave_bar .navbar-nav .nav-item .nav-link{
    border-top: 2px solid rgba(235, 77, 85, 0);
    border-left: 2px solid rgba(51, 51, 102, 0);
    border-bottom: 2px solid rgba(235, 77, 85, 0);
    border-right: 2px solid rgba(51, 51, 102, 0);
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    transition: all linear 0.4s;
}
#nave_part .nave_bar .navbar-nav .nav-item .nav-link:hover{
    border-top: 2px solid #eb4d55;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #eb4d55;
    border-right: 2px solid #fff;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    color: #eb4d55;
    transition: all linear 0.4s;
}
#nave_part .nave_bar .navbar-nav .nav-item .ac{
    border-top: 2px solid #eb4d55;
    border-left: 2px solid #333366;
    border-bottom: 2px solid #eb4d55;
    border-right: 2px solid #333366;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    color: #eb4d55;
    transition: all linear 0.4s;
}

.angle_top{
    position: fixed;
    right: 40px !important; 
    width: 45px !important;
    height: 45px;
    padding: 5px;
    background: #37a000;
    color: #ffffff;
    font-size: 25px;
    border-radius: 50%;
    z-index: 9999;
    text-align: center;
    line-height: 45px;
    bottom: 70px;
    cursor: pointer;
    display: none;
}

#banner_part{
    position: relative;
}
#nave_part{
    position: absolute;
    top: 25px;
    left: 0;
    width: 100%;
    z-index: 9999;
}



/*=================================================*/


/* ---- reset ---- */

body {
  margin: 0;
  font:normal 75% Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
/*  background-color: #b61924;*/
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* ---- stats.js ---- */

.count-particles{
/*  background: #000022;*/
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}



#banner_part{
    background: url(../images/handsome-4133131_1920.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
/*    height: 100vh;*/
}
/*

#banner_part .img_bac{
    width: 100%;
    height: 500px;
    background: red;
    margin-top: 150px;
}
#banner_part .img_bac img{
    width: 100%;
    height: 100vh;
    
}
*/
#banner_part h3{
    padding-top: 238px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    color: #eb4d55;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
}
#banner_part h1{
    padding-top: 30px;
    padding-bottom: 50px;
    color: #fff;
    text-align: center;
    color: #eb4d55;
    font-size: 60px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}


#banner_part .tp{
    height: 190px;
    width: 100%;
}


#banner_part a{
    font-size: 20px;
    width: 180px;
    height: 50px;
    border-top: 2px solid #eb4d55;
    border-left: 2px solid #333366;
    border-bottom: 2px solid #eb4d55;
    border-right: 2px solid #333366;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    margin-left: 50%;
    transform: translateX(-50%);
    color: #eb4d55;
    transition: all linear 0.4s;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 200px;
}
#banner_part a:hover{
    color: #fff;
}
#banner_part .typed-cursor{
    font-size: 70px;
    color: #fff;
    margin-left: 10px;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    
}
#banner_part h1{
    display: inline-block;
}

#banner_part .ccv{
    position: relative;
}
#banner_part .ccv:after{
    content: '';
    position: absolute;
    width: 0;
    height: 46px;
    background: #ff9d76;
    top: 0;
    left: 0;
    z-index: -1;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    transition: all linear 0.4s;
}

#banner_part .ccv:hover:after{
    width: 100%;
}
#banner_part .containers{
    background: rgba(18, 29, 48, 0.50);
/*    height: 100vh;*/
}
/*
#banner_part .ccv:hover{
    color: #eb4d55;
}
*/

/*
======================
banner_part 
======================
*/

#about_part .about_pic{
    margin-top: 100px;
    margin-bottom: 100px;
}

#about_part .about_bar{
    margin-top: 100px;
    margin-bottom: 100px;
}

#about_part{
/*    background: #121d30;*/
    background: url(../images/About_part_backgrund+pc.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#about_part .overlay{
/*    background: rgba(0, 0, 0, 0.70 !important)*/
    background: rgba(0, 0, 0, 0.80);
}
#about_part .about_pic img{
/*    height: 600px;*/
    width: 100%;
}
#about_part .about_pic{
   -webkit-box-shadow: 28px 30px 70px 0px rgba(171,131,166,1);
-moz-box-shadow: 28px 30px 70px 0px rgba(171,131,166,1);
box-shadow: 28px 30px 70px 0px rgba(171,131,166,1);
}
#about_part .about_bar h2{
    font-size: 32px;
    text-transform: uppercase;
    color: #eb4d55;
    padding-left: 24px;
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}
#about_part .about_bar p{
    font-size: 16px;
    text-transform: lowercase;
    color: #f1f1f1;
    padding-left: 24px;
    line-height: 26px;
    padding-top: 25px;
    text-align: left;
    font-family: 'Karla', sans-serif;
    font-weight: 400;

}

/**************prograss*****************/


.barfiller {
  width: 100%;
  height: 12px;
  background: #fcfcfc;
  border: 1px solid #ccc;
  position: relative;
  margin-bottom: 20px;
  box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,.5);
  -moz-box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,.5);
}

.barfiller .fill {
  display: block;
  position: relative;
  width: 0px;
  height: 100%;
  background: #333;
  z-index: 1;
    background: #eb4d55 !important;
}

.barfiller .tipWrap { display: none; }

.barfiller .tip {
  margin-top: -30px;
  padding: 2px 4px;
  font-size: 11px;
  color: #333366;
  left: 0px;
  position: absolute;
  z-index: 2;
  background: #ff9d76;
}

.barfiller .tip:after {
  border: solid;
  border-color: #ff9d76 transparent;
  border-width: 6px 6px 0 6px;
  content: "";
  display: block;
  position: absolute;
  left: 9px;
  top: 100%;
  z-index: 9
}
#about_part .progress_part .progress_item{
    margin-left: 24px;
}
#about_part .progress_part .progress_item h3{
    font-size: 24px;
    padding-top: 10px;
    color: #eb4d55;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;

}
#about_part .progress_part .progress_item h4{
    font-size: 18px;
    padding-top: 7px;
    color: #f1f1f1;
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}
#about_part .b_c{
    font-size: 20px;
    width: 180px;
    height: 50px;
    border-top: 2px solid #eb4d55;
    border-left: 2px solid #333366;
    border-bottom: 2px solid #eb4d55;
    border-right: 2px solid #333366;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    margin-left: 50%;
    transform: translateX(-50%);
    color: #eb4d55 !important;
    transition: all linear 0.4s;
    margin-top: -30px;
    position: relative;
    font-weight: 700;
    font-family: 'Rubik', sans-serif;
}
#about_part .b_c a{
    color: #fff;
    transition: all linear 0.4s;
}
#about_part .b_c:after{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    content: '';
    width: 0%;
    height: 100%;
    background: #ff9d76;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    transition: all linear 0.4s;
}
#about_part .b_c a:hover{
    color: #eb4d55;
}
#about_part .b_c:hover:after{
    width: 100%;
}

/*
=======================
about_part_starts
=======================
*/

#service_parts{
    padding-bottom: 70px;
    background: #cccbcb;
    background-attachment: fixed;
    border-bottom: 1px solid #555555;
}
#service_parts .service_header h2{
    font-size: 32px;
    color: #eb4d55;
    text-transform: uppercase;
    text-align: center;
    padding-top: 100px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}
#service_parts .service_header p{
    color: #222222;
    text-transform: uppercase;
    text-align: center;
    padding-top: 25px;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    font-family: 'Karla', sans-serif;
    padding-right: 150px;
    padding-left: 150px;

}
#service_parts .service_items{
/*    width: 100%;*/
/*    height: 300px;*/
    border: 2px solid #333366;
    margin-top: 100px;
    position: relative;
    background: rgba(51, 51, 102, 0);
    transition: all linear 0.4s;
    margin-bottom: 30px;
}
#service_parts .service_items .f_awsome{
	width: 120px;
	height: 120px;
	font-size: 30px;
	border: 2px solid #333366;
	border-radius: 50%;
	background: #fff;
    color: #333366;
    text-align: center;
    line-height: 120px;
    position: absolute;
    top: -70px;
    left: 50%;
    transform: translate(-50%);
    padding: 35px;
    transition: all linear 0.4s;
}
#service_parts .service_items:hover .f_awsome{
    color: #eb4d55;
}
#service_parts .service_items h3{
    font-size: 24px;
    text-transform: capitalize;
    color: #eb4d55;
    font-weight: 700;
    padding-top: 80px;
    font-family: 'Rubik', sans-serif;
}
#service_parts .service_items p{
    font-size: 16px;
    line-height: 26px;
    font-family: 'Karla', sans-serif;
    color: #eb4d55;
    font-weight: 400;
    padding-top: 25px;
    transition: all linear 0.4s;
}
#service_parts .service_items a{
    display: inline-block;
/*    background: #ff9d76;*/
    width: 140px;
    height: 40px;
    font-size: 20px;
    border-top: 2px solid #eb4d55;
    border-left: 2px solid #333366;
    border-bottom: 2px solid #eb4d55;
    border-right: 2px solid #333366;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    line-height: 40px;
    margin-bottom: 40px;
    position: relative;
    color: #eb4d55;
    transition: all linear 0.4s;
    z-index: 99;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}
#service_parts .service_items a:hover{
    color: #fff;
}
#service_parts .service_items a:after{
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 0;
    height: 36px;
    z-index: -1;
    background: #ff9d76;
    border-bottom-right-radius: 18px;
    border-top-left-radius: 18px;
    transition: all linear 0.4s;
}
#service_parts .service_items a:hover:after{
    width: 100%;
    transition: all linear 0.4s;
}

#service_parts .service_items:hover{
    background: #333366;
    border-bottom-right-radius: 20%;
    transition: all linear 0.4s;
    border: 2px solid #333366;
}
#service_parts .service_items:hover a{
    border-left: 2px solid #f1f1f1;
    border-right: 2px solid #f1f1f1;
    transition: all linear 0.4s;
}


/*
=======================
service_part_ends
=======================
*/



/*
=======================
work_part_starts
=======================
*/

#work_part{
    margin-top: 100px;
    margin-bottom: 100px;
}
#work_part .work_part_head h2 {
	font-size: 32px;
	color: #eb4d55;
	text-transform: uppercase;
	text-align: center;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}
#work_part .work_part_head p {
	color: #222222;
	text-transform: uppercase;
	text-align: center;
    font-size: 14px;
    line-height: 26px;
	padding-top: 25px;
    font-weight: 400;    
    font-family: 'Karla', sans-serif;
    padding-left: 150px;
    padding-right: 150px;

}
#work_part .work_part_images .work_part_images_item{
    width: 25%;
    height: 300px;
/*    background: red;*/
    display: inline-block;
/*    margin-bottom: 10px;*/
    margin-left: -4px;
}

#work_part .work_part_images .work_part_images_item img{
    width: 100%;
    height: 100%;
}
#work_part .button_part ul li{
    list-style: none;
    display: inline-block;
    
}

#work_part .button_part ul li {
	padding: 10px;
	padding-left: 30px;
	padding-right: 30px;
/*	background: #fff;*/
	margin-top: 40px;
/*	border-radius: 5px;*/
	text-transform: capitalize;
    font-size: 16px;    
    border-top: 2px solid #eb4d55;
    border-left: 2px solid #333366;
    border-bottom: 2px solid #eb4d55;
    border-right: 2px solid #333366;
    border-bottom-right-radius: 23px;
    border-top-left-radius: 23px; 
    margin-left: 15px;
    color: #eb4d55;
    position: relative;
    cursor: pointer;    
    font-family: 'Rubik', sans-serif;
    font-weight: 700;

}

#work_part .button_part ul li:after{
   position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    content: '';
    background: #ff9d76;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    z-index: -1;
    transition: all linear 0.4s;
}

#work_part .button_part ul li:hover:after{
    width: 100%;
}
#work_part .button_part ul li:hover{
    color: #fff;
}
#work_part .work_part_images {
    margin-top: 60px;
}
#work_part .work_part_images .work_part_images_item{
    position: relative;
}
#work_part .work_part_images .work_part_images_item .images_overlay{
    width: 10%;
    height: 0;
    background: rgba(0, 0, 0, 0.54);
    position: absolute;
    top: 0;
    left: 0;
    transition: all linear 0.4s;
}

#work_part .work_part_images .work_part_images_item:hover .images_overlay{
    height: 100%;
    width: 100%;
}
#work_part .work_part_images .work_part_images_item .images_overlay .fa-plus{
    font-size: 40px;
    width: 40px;
    height: 40px;
    text-align: center;
    margin-top: 50%;
    transform: translateY(-50%);
    color: #fff;
    opacity: 0;
    transition: all linear 0.4s;
}
#work_part .work_part_images .work_part_images_item:hover .images_overlay .fa-plus{
    opacity: 1;
}





/*
========================
work_part_ends
========================*/

/*
=========================
hire_me_part_starts
=========================
*/


#hire_me{
    margin-top: 100px !important;
    background: #cccccc;
    border-bottom: 1px solid #555555;
}
#hire_me .hire_me_part_head h2 {
	font-size: 32px;
	color: #eb4d55;
	text-transform: uppercase;
	text-align: center;
	padding-top: 100px;
}
#hire_me .hire_me_part_head p {
	color: #222222;
	text-transform: uppercase;
	text-align: center;
    font-size: 14px;
    line-height: 26px;
    padding-top: 25px;
    padding-bottom: 50px;
    padding-left: 155px;
    padding-right: 155px;
}

#hire_me .hire_images img{
    /* margin-top: 50px; */
     margin-bottom: 100px;
}
#hire_me .hire_me_detels{
    border: 2px solid #333366;
    margin-bottom: 27px;
}
#hire_me .hire_me_detels .idea{
    width: 70px;
    height: 70px;
    font-size: 50px;
    padding: 10px;
    border: 2px solid #333366;
    border-radius: 50%;
    margin-top: 50px;
    transition: all linear 0.4s;
    color: #333366;
}
#hire_me .hire_me_detels h3{
    font-size: 24px;
    text-transform: capitalize;
    color:#eb4d55;
    font-weight: 700;
    padding-top: 20px;    
    font-family: 'Rubik', sans-serif;
    font-weight: 700;

}
#hire_me .hire_me_detels p{
    padding-bottom: 30px;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}
#hire_me .hire_me_detels{
    position: relative;
}
#hire_me .hire_me_detels .hire_me_detels_part_2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
/*    background: red;*/
    border: 2px solid #333366;
    z-index: 99;
    opacity: 0;
    transition: all linear 0.4s;
    background: #f1f1f1;
}
#hire_me .hire_me_detels .hire_me_detels_part_2 h3{
    font-size: 24px;
    text-transform: capitalize;
    color:#eb4d55;
    font-weight: 700;
    padding-top: 15px;
    padding-bottom: 0px;
}

#hire_me .hire_me_detels .hire_me_detels_part_2 .idea{
    width: 70px;
    height: 70px;
    font-size: 50px;
    padding: 10px;
    border: 2px solid #333366;
    border-radius: 50%;
    margin-top: 50px;
    transition: all linear 0.4s;
}
#hire_me .hire_me_detels .hire_me_detels_part_2 p{
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}
#hire_me .hire_me_detels:hover .hire_me_detels_part_2{
    opacity: 1;
}
#hire_me .hire_me_detels:hover .hire_me_detels_part_2 .idea{
    width: 50px;
    height: 50px;
    margin-top: 21px;
    color: #eb4d55;
}


/*
=========================
hire_me_part_ends
=========================*/

/*
==========================
client review_part_starts
==========================*/

#clint_review{
    margin-bottom: 100px;
}
#clint_review .clint_review_head h2{
    font-size: 32px;
    color: #eb4d55;
    text-transform: uppercase;
    text-align: center;
    padding-top: 100px;
}
#clint_review .clint_review_head p {
	color: #222222;
	text-transform: lowercase;
	text-align: center;
    font-size: 14px;
    line-height: 26px;
	padding-top: 25px;
	padding-bottom: 50px;
    padding-left: 150px;
    padding-right: 150px;
}
#clint_review .clint_review_bar .clint_review_slide .clint_review_images{
    width: 33.33%;
    height: 350px;
    border: 2px solid #333366;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    cursor: move;
    transition: all linear 0.4s;
}
#clint_review .clint_review_bar .clint_review_slide .clint_review_images img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 25px;
}
#clint_review .clint_review_bar .clint_review_slide .clint_review_images h4{
    font-size: 24px;
    text-transform: capitalize;
    color: #eb4d55;
    font-weight: 700;
    padding-top: 15px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;

}
#clint_review .clint_review_bar .clint_review_slide .clint_review_images p{
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 25px;
    transition: all linear 0.4s;
}
#clint_review .clint_review_bar .clint_review_slide .clint_review_images:hover{
    background: #333366;
    border-bottom-right-radius: 10%;
/*    border-top-right-radius: 10px;*/
}

#clint_review .clint_review_bar .clint_review_slide .clint_review_images:hover p{
    color: #fff;
}

#clint_review .slick-center{
    background: #333366;
    border-bottom-right-radius: 10%;
    color: #fff;
}


/*
==========================
client review_part_ends
==========================
*/

/*
===========================
blog_part_starts
===========================
*/

#blog_part{
    background: #cccc;
    border-bottom: 1px solid #555555;
}
.blog_part_head h2{
    font-size: 32px;
    color:#eb4d55 !important;
    text-transform: uppercase;
    text-align: center;
    padding-top: 100px;
}

#blog_part .blog_part_head p{
    color: #222222;
    text-transform: lowercase;
    text-align: center;
    font-size: 14px;
    line-height: 26px;
    padding-top: 25px;
    padding-bottom: 50px;
    padding-left: 150px;
    padding-right: 150px;
        
}
#blog_part .card{
    transition: all linear 0.4s;
    margin-bottom: 100px;
}
#blog_part .card p{
    color: #000000;
/*    text-transform: lowercase;*/
/*    text-align: center;*/
    font-size: 14px;
    line-height: 26px;
    transition: all linear 0.4s;
}
#blog_part .card .card-body h5{
    color: #eb4d55;
    transition: all linear 0.4s;    
    font-family: 'Rubik', sans-serif;
    font-weight: 500;

}
#blog_part .card .card-body .btn{
    font-size: 16px;
	width: 180px;
	height: 50px;
	border-top: 2px solid #eb4d55;
	border-left: 2px solid #333366;
	border-bottom: 2px solid #eb4d55;
	border-right: 2px solid #333366;
	border-bottom-right-radius: 22px;
	border-top-left-radius: 22px;
	display: inline-block;
	text-align: center;
	line-height: 40px;
	text-transform: uppercase;
	color: #eb4d55 !important;
	transition: all linear 0.4s;
	position: relative;
    z-index: 99;
    transition: all linear 0.4s;    
    font-family: 'Rubik', sans-serif;
    font-weight: 700;

}

#blog_part .card:hover p{
    color: #fff;
}
#blog_part .card:hover{
    background: #333366;
} 
#blog_part .card:hover .card-body .btn{
    border-left: 2px solid #f4f4f4;
    border-right: 2px solid #f4f4f4;
    transition: all linear 0.4s;
}
#blog_part .card .card-body .btn:after {
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	content: '';
	width: 0%;
	height: 100%;
	background: #ff9d76;
	border-bottom-right-radius: 20px;
	border-top-left-radius: 20px;
	transition: all linear 0.4s;
}
#blog_part .card .card-body .btn:hover{
    color: #fff !important;
}
#blog_part .card .card-body .btn:hover:after{
    width: 100%;
}


/*
===========================
blog_part_ends
===========================
*/


/*
===========================
contact_part_starts
===========================
*/

#contact_part{
    font-family: 'Karla', sans-serif;
    font-weight: 700;

}
#contact_part{
/*    padding-top: 100px;*/
/*    padding-bottom: 100px;*/
    background: url(../images/contact_2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.ccontact_overly{
    padding-top: 100px;
    padding-bottom: 100px;
    background: rgba(0, 0, 0, 0.7)
}
#contact_part .contact_part_head h2{
    font-size: 32px;
    color:#eb4d55;
    text-transform: uppercase;
    text-align: center;
}

#contact_part .contact_part_head p{
    color: #fff;
    text-transform: lowercase;
    text-align: center;
    font-size: 14px;
    line-height: 26px;
    padding-top: 25px;
    padding-bottom: 50px;
    padding-left: 150px;
    padding-right: 150px;
}

#contact_part .from .nas{
    margin-top: 25px;
}
#contact_part .from .nam{
    line-height: 40px;
}
#contact_part .from a{
    font-size: 16px;
	width: 180px;
	height: 50px;
	border-top: 2px solid #eb4d55;
	border-left: 2px solid #333366;
	border-bottom: 2px solid #eb4d55;
	border-right: 2px solid #333366;
	border-bottom-right-radius: 22px;
	border-top-left-radius: 22px;
	display: inline-block;
	text-align: center;
	line-height: 50px;
	text-transform: uppercase;
	color: #eb4d55 !important;
	transition: all linear 0.4s;
	position: relative;
/*    z-index: 9999;*/
    transition: all linear 0.4s;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 32px;    
    font-family: 'Rubik', sans-serif;
    font-weight: 700;

    
}
#contact_part .from a:hover{
    color: #fff !important;
}
#contact_part .from a:after{
    position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	content: '';
	width: 0%;
	height: 100%;
	background: #ff9d76;
	border-bottom-right-radius: 20px;
	border-top-left-radius: 20px;
	transition: all linear 0.4s;
    
}

#contact_part .from a:hover:after{
    width: 100%;
}


/*
===========================
contact_part_ends
===========================
*/

/*
============================
footer_part_starts
============================
*/

#footer_part{
    padding-top: 100px;
    padding-bottom: 50px;
/*    background:    #393243   ;*/
    background: #1b262c;
}
#footer_part .social_link_part img{
    width: 150px;
    height: auto;
}
#footer_part .social_link_part ul li{
    list-style: none;
    margin-top: 60px;
    display: inline-block;
    
}
#footer_part .social_link_part .social_item{
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 50%;
    background: #333366;
    line-height: 50px;
    font-size: 20px;
    transition: all linear 0.3s;
    color: #fff;
    margin-left: 10px;
}
#footer_part span{
    font-size: 16px;
    position: absolute;
    top: 159px;
    left: 169px;
    color: #eb4d55;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    
}
#footer_part .social_link_part .social_item:hover{
    color: #eb4d55;
}
#footer_part .fa-map-marker-alt{
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 50%;
    background: #333366;
    line-height: 50px;
    font-size: 20px;
    margin-top: 90px;
    margin-bottom: 90px;
    position: relative;
    color: #fff;
    transition: all linear 0.3s;
}
#footer_part .fa-map-marker-alt:hover{
    color: #eb4d55;
}
#footer_part .coppyright p{
    font-size: 16px;
    font-weight: 600;
    color: #eb4d55;
    text-align: center;
    text-transform: capitalize;
/*    line-height: 90px;*/
/*    background: green;*/
    padding-top: 100px;
}

/*
============================
footer_part_ends 
============================
*/









































/*
===========================
contact_part_ends
===========================
*/
